/*
 *      Fudge.css
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  background-color: #FFF;
  color: #333333;
  margin: 0; }

body.dark {
  background-color: #333333;
  color: #FFF; }

main, wrap, .container {
  margin: 0 15px; }

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  margin-bottom: 5px;
  border-bottom: 1px solid #EFEFEF; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; }

h1 {
  font-size: 2.25em;
  margin: 30px 0; }

h2 {
  font-size: 1.85em;
  margin: 20px 0; }

h3 {
  font-size: 1.50em;
  margin: 18px 0; }

h4 {
  font-size: 1.25em;
  margin: 15px 0; }

h5 {
  font-size: 1.00em;
  margin: 12px 0; }

h6 {
  font-size: 0.75em;
  margin: 8px 0; }

b, strong {
  font-weight: 500; }

.white {
  background-color: #FFF; }

.black {
  background-color: #000; }

.light {
  background-color: #FAFAFA;
  color: #333333;
  border: 1px solid #f2f2f2; }
  .light:hover, .light:active {
    background-color: #f2f2f2; }

.dark {
  background-color: #333333;
  color: #FFF;
  border: 1px solid #404040; }
  .dark:hover, .dark:active {
    background-color: #404040; }

.success {
  background-color: #2EB244;
  color: #FFF;
  border: 1px solid #299e3c; }
  .success:hover, .success:active {
    background-color: #299e3c; }

.error {
  background-color: #D84540;
  color: #FFF;
  border: 1px solid #d3312b; }
  .error:hover, .error:active {
    background-color: #d3312b; }

.warn {
  background-color: #F2A840;
  color: #FFF;
  border: 1px solid #f09d28; }
  .warn:hover, .warn:active {
    background-color: #f09d28; }

.info {
  background-color: #50C2E5;
  color: #FFF;
  border: 1px solid #3abae2; }
  .info:hover, .info:active {
    background-color: #3abae2; }

.no-margin {
  margin: 0 !important; }

.no-border {
  border: none !important; }

.no-radius {
  border-radius: 0 !important; }

alert {
  display: block;
  padding: 18px 25px;
  border-radius: 2px;
  margin-bottom: 10px; }

alert p {
  display: inline-block;
  margin: 5px 0; }

button, .btn {
  display: inline-block;
  padding: 7px 17px;
  cursor: pointer;
  border: none;
  background-color: inherit;
  border-radius: 2px;
  font-size: 14px;
  margin-bottom: 10px; }

row:before, row:after {
  content: " ";
  display: table; }
row:after {
  clear: both; }

box {
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%; }

@media (max-width: 800px) {
  box {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
    float: none; } }
box.col-1 {
  width: 5.83333%; }

box.col-2 {
  width: 14.16667%; }

box.col-3 {
  width: 22.5%; }

box.col-4 {
  width: 30.83333%; }

box.col-5 {
  width: 39.16667%; }

box.col-6 {
  width: 47.5%; }

box.col-7 {
  width: 55.83333%; }

box.col-8 {
  width: 64.16667%; }

box.col-9 {
  width: 72.5%; }

box.col-10 {
  width: 80.83333%; }

box.col-11 {
  width: 89.16667%; }

box.col-12 {
  width: 97.5%; }
