$white:     #FFF;
$black:     #000;

$light:     #FAFAFA;
$grey:      #EFEFEF;
$dark:      #333333;

$success:   #2EB244;
$error:     #D84540;
$warn:      #F2A840;
$info:      #50C2E5;

$light-border:      darken($light, 3);
$dark-border:       lighten($dark, 5);

$success-border:    darken($success, 5);
$error-border:      darken($error, 5);
$warn-border:       darken($warn, 5);
$info-border:       darken($info, 5);

$collapse:      800px;
$margin-bottom: 10px;