button {
    display: inline-block;
    padding: 7px 16px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    border-radius: 2px;
    font-size: 14px;
    
    margin-bottom: $margin-bottom;
}